body{
    overflow: hidden;
}

.login-section{
    width: 29%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 243, 243);
    margin-top: 180px;
    margin-bottom: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.login-section .login-form{
    margin-left: 35px;
    margin-right: 35px;
}
.login-section .login-form p{
    margin-bottom: 35px;
    font-size: 20px;
    /* border: 1px solid green; */
}
.login-section .login-form .text{
    /* color: rgb(163, 163, 163); */
    font-size: 18;
    color: rgb(66, 66, 66);
}
.login-section .login-form input{
    background: none;
    border: none;
    font-size: 14px;
    /* border-bottom: 1px solid rgb(212, 206, 206); */
    border-bottom: 1px solid rgb(168, 168, 168);
    outline: none;
    /* color: rgb(212, 206, 206); */
    color: black;
    padding: 7px 0px;
    width: 100%;
    margin-bottom: 30px;
}
.input-black{
    border-bottom: 1px solid black;
}
.login-section .login-form ._password{
    margin-bottom: 10px;
}
.login-section .login-form > a{
    margin-bottom: 30px;
    font-size: 13px;
    color: rgb(97, 97, 97);
}
.login-section .login-form > a:hover{
    text-decoration: none;
}
.login-section .login-form .btn-submit{
    width: 100%;
    font-size: 13px;
    color: white;
    background-color: black;
    border: none;
    letter-spacing: 2px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.login-section .login-form .btn-submit:hover{
    background-color: rgb(105, 105, 105);
}
.login-section .login-form .account-alr{
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.login-section .login-form .account-alr span{
    margin-right: 4px;
}
.login-section .login-form .account-alr a{
    color: black;
}
.login-section .login-form .account-alr a:hover{
    text-decoration: none;
}

.contac-section{
    padding-bottom: 20px !important;
}