.show-container{
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 130px;
}
.show-container .show-section{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.show-container .show-section .img-button{
    width: 100px;
    margin-right: 50px;
    /* border: 1px solid brown; */
}   
.show-container .show-section .img-button .row-button{
    width: 100%;
    position: relative;
}   
.show-container .show-section .img-button .row-button img{
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.8;
}  
.show-container .show-section .img-button .row-button img:hover{
    opacity: 1;
}
.show-container .show-section .img-button .row-button .get.active{
    opacity: 1;
}

/* .show-container .show-section .img-button .row-button .white-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.8;
}   */
.show-container .show-section .img-content{
    width: 650px;
    /* border: 1px solid blueviolet; */
    margin-right: 100px;
}
.show-container .show-section .img-infor{
    width: 400px;
    /* border: 1px solid green; */
}
.show-container .show-section .img-infor ._header{
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
}
.show-container .show-section .img-infor ._color{
    margin-top: 15px;
}
.show-container .show-section .img-infor ._color-link{
    
}
.show-container .show-section .img-infor ._cost{
    font-weight: 600;
    margin-top: 30px;
}
.show-container .show-section .img-infor .select-size{
    margin-top: 50px;
}
.show-container .show-section .img-infor .select-size .custom-input{
    opacity: 1;
    display: inline-block;
    position: relative;
    border: 1px solid rgb(136, 136, 136);
    margin-right: 0px;
    /* border: 1px solid red; */
}
.x{
    width: 40px;
    height: 40px;
}
.xl{
    width: 40px;
    height: 40px;
}
.xxl{
    width: 50px;
    height: 40px;
}
.xxxl{
    width: 60px;
    height: 40px;
}
.show-container .show-section .img-infor .select-size .custom-input input[type=radio]{
    visibility: hidden;
    width: 30px;
    height: 30px;
}
.show-container .show-section .img-infor .select-size .custom-input label{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-container .show-section .img-infor .select-size .custom-input input[type=radio]:checked ~ label{
    color: white;
    background-color: black;
}
.show-container .show-section .img-infor button{
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0px;
    width: 100%;
    font-weight: 800;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    cursor: pointer;
    transition: 0.4s;
}
.show-container .show-section .img-infor button:hover{
    background-color: rgb(68, 66, 66);
}
.show-container .show-section .img-infor .information .des{
    opacity: 0.9;
}
.show-container .show-section .img-infor .information .detail{
    margin-top: 30px;
}
.show-container .show-section .img-infor .information div p{
    font-weight: 600;
    font-size: 20px;
    opacity: 0.9;
}
.show-container .show-section .img-infor .information ul{
    margin-left: 50px;
    margin-top: 20px;
    /* border: 1px solid red; */
}

/*--------------------------------SERVICE---------------------------------------*/
.service-content{
    margin-top: 80px !important;
    margin-bottom: 95px !important;
}