*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.product-section{
    position: relative;
    width: 100%;
    margin-top: 80px;
}
.new-product-header{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 1.5;
    /* text-align: center; */
    /* border: 1px solid red; */
}
.new-product{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.bestseller-section{
    position: relative;
    width: 100%;
    margin-top: 80px;
}
.bestseller-header{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 1.5;
}
.bestseller-product{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.quote-section{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.quote-section blockquote{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.quote-section blockquote::before{
    content: '\201C';
    font-size: 130%;
}
.quote-section blockquote::after{
    content: '\201D';
    position: absolute;
    top: 32px;
    right: 537px;
    font-size: 130%;
}
.quote-section blockquote cite{
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
   margin-left: 530px;
}

.service-section{
    margin-top: 50px;
}
.service-section .service-header{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 1.5;
}
.service-section .service-content{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

}

.feedback-section{
    margin-top: 50px;
    margin-bottom: 50px;

}
.feedback-section .feedback-header{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}
.feedback-section .feedback-header h2{
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 1.5;
}
.feedback-section .instagram-section{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}