
.login-section{
    width: 29%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 243, 243);
    margin-top: 180px;
    margin-bottom: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.login-section .login-form{
    margin-left: 35px;
    margin-right: 35px;
}
.login-section .login-form p{
    margin-bottom: 35px;
    font-size: 20px;
    /* border: 1px solid green; */
}
.login-section .login-form .text{
    /* color: rgb(163, 163, 163); */
    font-size: 18;
    color: rgb(66, 66, 66);
}
.login-section .login-form input{
    background: none;
    border: none;
    font-size: 14px;
    /* border-bottom: 1px solid rgb(212, 206, 206); */
    border-bottom: 1px solid rgb(168, 168, 168);
    outline: none;
    /* color: rgb(212, 206, 206); */
    color: black;
    padding: 7px 0px;
    width: 100%;
    margin-bottom: 30px;
}
.input-black{
    border-bottom: 1px solid black;
}
.login-section .login-form .btn-submit{
    width: 100%;
    font-size: 13px;
    color: white;
    background-color: black;
    border: none;
    letter-spacing: 2px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.login-section .login-form .btn-submit:hover{
    background-color: rgb(105, 105, 105);
}
.login-section .login-form .account-alr{
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.login-section .login-form .account-alr span{
    margin-right: 4px;
}
.login-section .login-form .account-alr a{
    color: black;
}
.login-section .login-form .account-alr a:hover{
    text-decoration: none;
}
/*------------------------------------------------*/
.contac-section{
    width: 100%;
    background-color: rgb(20, 20, 20);
    /* padding-bottom: 150px; */
    /* border: 1px solid green; */
}
.contac-section .logo-middle1{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: 'Quattrocento Sans', sans-serif;
    padding-top: 40px;
    color: white;
    /* border: 1px solid blue; */
}
.contac-section .contact-banner{
    width: 91.5%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    /* border: 1px solid green; */
}
.contac-section .contact-banner .left-contact{
    width: 40%;
    /* border: 1px solid blue; */
}
.contac-section .contact-banner .left-contact .address{
    width: 70%;
    font-size: 20px;
    color: white;
    /* border: 1px solid brown; */
}
.contac-section .contact-banner .left-contact .address div{
    display: flex;
    margin-bottom: 10px;
    /* border: 1px solid brown; */
}
.contac-section .contact-banner .left-contact .address div i{
    font-size: 25px;
    margin-right: 10px;
}
.contac-section .contact-banner .left-contact .address div .haha{
    margin-right: 15px;
    margin-left: 4px ;
}
.contac-section .contact-banner .middle-contact{
    width: 20%;
}
.contac-section .contact-banner .middle-contact .grid{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
}
.contac-section .contact-banner .middle-contact .grid i{
    font-size: 40px;
    margin-right: 50px;
    color: white;
    transition: 0.4s;
}
.contac-section .contact-banner .middle-contact .grid i:hover{
    transform: scale(1.5);
    color: rgb(196, 93, 69);
}
.contac-section .contact-banner .right-contact{
    width: 30%;
    text-align: right;
    /* border: 1px solid brown; */
}
.contac-section .contact-banner .right-contact .text{
    color: white;
    margin-right: 51px;
    font-size: 14px;
    margin-bottom: 10px;
}
.contac-section .contact-banner .right-contact .input-section{
    display: flex;
    margin-left: 120px;
    /* border: 1px solid green; */
}
.contac-section .contact-banner .right-contact .input-section .email{
    background: none;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid;
    outline: none;
    color: rgb(212, 206, 206);
    padding: 10px 6px;
    width: 300px;
    /* border: 1px solid green; */
}
.contac-section .contact-banner .right-contact .input-section .btn-submit{
    width: 100px;
    font-size: 13px;
    background-color: rgb(226, 218, 218);
    border: none;
    transition: 0.4s;
}
.contac-section .contact-banner .right-contact .input-section .btn-submit:hover{
    background-color: rgb(139, 133, 133);
}
