<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./bestseller.css">
    <title>Document</title>
</head>

<body>
    <div class="img-bestseller-product">
        <div class="image-block">
            <a href="/vendors/oneproduct/midenim.html"><img src="/resources/img/bestseller1-1.jpg" alt=""
                    class="layer1"></a>
            <div class="white"></div>
            <div class="size-section">
                <div class="size">AVAILABLE SIZE</div>
                <div class="size-number">28 29 30 31 32 33 34 35 36 37 38 39 40</div>
            </div>
            <div class="btn-shop-now">
                <a href="/vendors/oneproduct/midenim.html">SHOP NOW</a>
            </div>
        </div>
        <div class="title-img">
            <a href="/vendors/oneproduct/midenim.html">M1 DENIM</a>
            <div class="cost">
                <p>50 $</p>
            </div>
        </div>
        <div class="information">BLUE</div>
    </div>
</body>

</html>