<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/font-awsome/all.min.css">
    <link rel="stylesheet" href="./contact.css">
    <title>Document</title>
</head>

<body>
    <div class="contac-section">
        <div class="logo-middle1">s l m p l e</div>
        <div class="contact-banner">
            <div class="left-contact">
                <div class="address">
                    <div>
                        <i class="fas fa-map-marker-alt haha"></i>
                        <p>Address: Cau Giay, Ha Noi</p>
                    </div>
                    <div>
                        <i class="fas fa-envelope"></i>
                        <p>Email: contactme@gmail.com</p>
                    </div>
                    <div>
                        <i class="fas fa-phone"></i>
                        <p>Phone: (+84)017-2710-0199</p>
                    </div>
                </div>
            </div>
            <div class="middle-contact">
                <div class="grid">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-google-plus-square"></i>
                </div>
            </div>
            <div class="right-contact">
                <div class="text">BE FIRST TO KNOW ABOUT RELEASES AND RESTOCKS
                </div>
                <div class="input-section">
                    <input type="email" class="email" placeholder="Email Address">
                    <button class="btn-submit" type="submit" name="subcribe">
                        SEND
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>