<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mainbanner.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="first-banner">
        <div class="main-banner-content">
            <p class="above-heading">JUST RELEASED</p>
            <h2 class="heading-text">LOOKBOOK 2077</h2>
            <a href="#" class="text-btn">SHOP NOW</a>
        </div>
    </div>
</body>
</html>