<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./secondbanner.css">
    <title>Document</title>
</head>

<body>
    <div class="second-banner">
        <div class="left-banner">
            <h2>DENIM</h2>
            <a href="vendors/oneproduct/denim.html" class="text-btn2">SHOP NOW</a>
        </div>
        <div class="right-banner">
            <h2>BOTTOM</h2>
            <a href="vendors/oneproduct/bottom.html" class="text-btn2">SHOP NOW</a>
        </div>
    </div>
</body>

</html>