<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/font-awsome/all.min.css">
    <link rel="stylesheet" href="./top-menu.css">
    <title>Document</title> 
</head>

<body>
    <div class="header-menu" id="nav-menu">
        <div class="main-menu">
            <div class="left-menu">
                <div class="menu-layer1">
                    <button id="tle" class="dropbtn">Shop</button>
                    <div class="menu-layer2" id="drop-down">
                        <ul>
                            <li>
                                <a href="#">
                                    <p>ALL PRODUCT</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>DENIM</p>
                                    <img src="/resources/img/denim-menu.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>CARGOS</p>
                                    <img src="/resources/img/cargo-menu.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>SHORTS</p>
                                    <img src="/resources/img/short-menu.png" alt="">
                                </a>

                            </li>
                            <li>
                                <a href="#">
                                    <p>OUTERWEAR</p>
                                    <img src="/resources/img/outerwear-menu.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>TOP</p>
                                    <img src="/resources/img/top-menu.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <a href="#">About</a> -->
            </div>
            <div class="logo-middle">
                <a href="#" class="logo">s l m p l e</a>
            </div>
            <div class="right-menu">
                <div><a href="#">My Account</a></div>
                <div class="fas fa-shopping-cart cart"></div>
            </div>
        </div>
        <div class="side-cart">
            <div class="black-screen"></div>
            <div class="content-cart">
                <div class="content">
                    <p>BAG</p>
                    <p class="close">CLOSE</p>
                </div>
                <div class="main-content">
                    <p>
                        Looks like your bag is empty.
                        <br>
                        Let's add a thing or two.
                    </p>
                </div>
                <div class="check-out">
                    <div class="content-check-out">
                        <div class="sumtotal-money">
                            <p>SUMTOTAL(0 item)</p>
                            <p class="money">0$</p>
                        </div>
                        <a href="#">CHECK OUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./all.js"></script>
</body>

</html>